<h1 class="mt-4 text-center">Welcome to Tweets Scrapper</h1>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                <i class="fab fa-twitter fa-2x"></i>
            </h1>
            <%- include ('messages') %>
            <form action="/" method="POST">
                <div class="form-group">
                    <label for="inputURL">Paste a valid twitter profile URL</label>
                    <input type="url" id="inputURL" name="inputURL" class="form-control"
                        placeholder="Eg: https://twitter.com/showerfeelings"
                        value="<%= inputURL %>" required />
                </div>

                <button type="submit" class="btn btn-primary btn-block">
                    Fetch Tweets
                </button>
            </form>

        </div>
    </div>
</div>

<div class="row mt-5 mb-5">
    <div class="col-md-12 m-auto">
        <% if(inputURL != undefined) {%>
        <div class="card card-body">
             <p class="lead text-center text-secondary ml-4 mt-4 mb-0">Here are the latest tweets (Max: 20) in text format from: </p>
            <a class=" text-center text-info ml-4 mb-0" href="<%= inputURL %>" target="_blank"> <%= inputURL %>
            </a>
            <div class="jumbotron jumbotron-fluid pt-0 mt-4 rounded-lg">
                <div class="container p-4"  id="tweets__fetched">
                    <%= tweetsScrapped %>
                </div>
            </div>
            <p class="lead text-center">
                    <a class="btn btn-primary btn-lg" href="#top" role="button">Go to top</a>
                </p>
        </div>
        <% }%>
    </div>
</div>